#root-for-AboutUs {
  width: 100%;
  height: 100%;
}

.about-us-page {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #0d0c0c;
  color: #3d1f1f45;
  background: #f4f4f4;
  background-image: url("../src/assets/BackGround.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.about-us-header {
  position: relative;
  justify-content: left;
  height: 0px;
  padding: 5px;
  color: #210be3;
  background: transparent;
  /* align-items: left; */;
}

.about-us-return-link {
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
  display: inline-block;
  flex-direction: row;
  justify-content: left;
  width: 50px;
  height: 30px;
  margin-top: 15px;
  margin-right: 70px;
  margin-left: 20px;
  padding: 3px 5px;
  border-radius: 4px;
  font-size: 16px;
  background: #e7a53c;
  background-color: #df9e12;
}

.about-us-return-link:hover {
  background: #ef8d05d6;
}

.about-us-header a {
  font-family: "Amadeus", cursive;
  font-size: 14px;
  text-decoration: none;
  color: #ebeaf1;
}

.about-us-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  text-align: center;
  background-image: url("/BackGround.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.about-us-main h1 {
  font-family: "Dancing Script", cursive;
  font-size: 3em;
  color: #e39f0b;
}

.about-us-main p {
  padding: 1px 10px 20px 1px;
  font-family: "Amadeus", cursive;
  font-size: 1em;
  color: #e39f0b;
}

.about-us-main a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  font-family: "Amadeus", cursive;
  font-size: 1.2em;
  color: #efeeee;
  background: #db9f05fc;
}

.about-us-main a:hover {
  color: #210be3;
  background: #e7a53c;
  cursor: pointer;
}

.about-us-feature-card {
  display: inline-block;
  width: 800px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
