#root-for-AboutUs {
  width: 100%;
  height: 100%;
}

.wrapper-for-AboutUs {
  height: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
  color: #0d0c0c;
  background-image: url('../src/assets/BackGround.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  color: #3d1f1f45;
}

.header-for-AboutUs {
  height: 0px;
  position: relative;
  background: transparent;
  color: #210be3;
  padding: 5px;
  justify-content: left;
  align-items: left;
}

.return-for-AboutUs {
  display: flex;
  position: absolute;
  left: 30px;
  top: 30px;
  flex-direction: row;
  display: inline-block;
  width: 50px;
  height: 30px;
  margin-left: 20px;
  margin-right:70px;
  margin-top: 15px;
  padding: 3px 5px;
  background: #e7a53c;
  border-radius: 4px;
  justify-content: left;
  background-color: #df9e12;
  font-size: 16px;
}

.return-for-AboutUs:hover {
  background: #ef8d05d6;
}

.header-for-AboutUs a {
  color: #ebeaf1;
  text-decoration: none;
  font-family: 'Amadeus', cursive;
  font-size: 14px;
}

.main-for-AboutUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/BackGround.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  padding: 100px;
  text-align: center;
}

.main-for-AboutUs h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  color: #e39f0b;
}

.main-for-AboutUs p {
  padding: 1px 10px 20px 1px;
  font-family: 'Amadeus', cursive;
  font-size: 1em;
  color: #e39f0b;
}

.main-for-AboutUs a{
  margin-top: 20px;
  color: #efeeee;
  display: inline-block;
  background: #db9f05fc;
  padding: 10px 20px;
  border-radius: 4px;
  font-family: 'Amadeus', cursive;
  font-size: 1.2em;
}

.main-for-AboutUs a:hover {
  background: #e7a53c;
  color: #210be3;
  cursor: pointer;
}

.feature-card-for-AboutUs {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  display: inline-block;
  width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}