#root-for-ContactUs {
  display: flex;
  flex-direction: column;
  height: 700px;
}

.contact-us-page {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 700px;
  background-image: url("/BackGroundForContactUs.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contact-us-return-link {
  position: absolute;
  top: 5px;
  left: 10px;
  display: flex;
  display: inline-block;
  flex-direction: row;
  justify-content: left;
  width: 50px;
  height: 30px;
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 3px 5px;
  border-radius: 4px;
  font-size: 16px;
  background: #e7a53c;
  background-color: #df9e12;
}

.contact-us-return-link:hover {
  background: #ef8d05d6;
}

.contact-us-btn a {
  font-family: "Amadeus", cursive;
  font-size: 14px;
  text-decoration: none;
  color: #ebeaf1;
}

.contact-us-header {
  height: 60px;
  margin-bottom: 20px;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  background-color: transparent;
}

.contact-us-header h1 {
  font-family: "Dancing Script", cursive;
  color: #ef9d19;
  background-color: transparent;
}

.contact-us-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3d1f1f45;
  background-color: transparent;
}

.contact-us-feature-card {
  display: inline-block;
  justify-content: top;
  align-items: top;
  width: 800px;
  margin: 30px;
  padding: 0px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.352);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-us-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  text-align: center;
  background: transparent;
}

.contact-us-main p {
  align-items: top;
  padding: 1px 20px 20px 1px;
  font-family: "Amadeus", cursive;
  font-size: 1em;
  color: #000000e5;
}
