.library-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/LibraryBackGround.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.library-page button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding-bottom: 3px;
  border-radius: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  background: #ebac0d;
  cursor: pointer;
}

.library-page button:hover {
  background-color: #c8c37ca7;
}

.library-page h1 {
  margin-top: 0px;
  font-family: "Amadeus", cursive;
  font-weight: 500;
  color: #00205B;
}

.library-page img {
  position: relative;
  height: 120px;
  margin-bottom: 0px;
}

.library-shelf {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1100px;
  margin: 50px auto;
  margin-top: 50px;
  padding: 20px 10px 40px 10px;
  border-radius: 20px;
  background: #fcfbfabd;
  background-size: cover;
}

.library-shelf p {
  margin-left: 20px;
  font-family: "Amadeus", cursive;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

.piece-shelf {
  display: flex;
  flex-direction: column;
  width: 92%;
  height: 37vh;
  margin-top: 30px;
  margin-left: 30px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  background: #e3ad246e;
}

.piece-shelf h2 {
  margin-bottom: 10px;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}

.piece-shelf p {
  height: 15vh;
  font-family: "Amadeus", cursive;
  font-size: 14px;
  font-weight: 300;
  color: #000000;
}

.piece-shelf button {
  position: static;
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
}
