.login-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #0d0c0c;
  color: #3d1f1f45;
  background: #f4f4f4;
  background-image: url("/BackGround.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.go-back {
  position: absolute;
  top: 0px;
  left: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  color: #000000;
}

.go-back a {
  font-family: "Amadeus", cursive;
  font-size: 15px;
  text-decoration: none;
  color: #000000;
  color: "#1a1717";
}

.go-back a:hover {
  text-decoration: underline;
  background: transparent;
}

.signup-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #0d0c0c;
  color: #3d1f1f45;
  background: #f4f4f4;
  background-image: url("/BackGroundForContactUs.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.signup-container, .login-container {
  position: relative;
  width: 500px;
  height: auto;
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  background: #ffffffb3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-container h2, .login-container h2 {
  margin-top: 40px;
  font-family: "Amadeus", cursive;
  font-weight: bold;
  text-align: center;
}

.signup-container h3, .login-container h3 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  text-align: center;
  color: #070505c4;
}

.login-container input {
  width: 100%;
  margin-bottom: 15px;
  margin-left: 0px;
  padding: 10px 10px 10px 10px;
  border: 2px solid #000000e2;
  border-radius: 10px;
  background: #ffffff;
}

.signup-container input {
  width: 100%;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #33333379;
  background: transparent;
}

.signup-container input::placeholder, .login-container input::placeholder {
  font-family: "Amadeus", cursive;
  font-style: bold;
  color: #33333379;
}

.signup-container input:focus, .login-container input:focus {
  outline: none;
  border-bottom-color: #000000;
}

.signup-container p, .login-container p {
  font-family: "Amadeus", cursive;
  text-align: center;
}

.signup-container button, .login-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background: #000000d6;
  cursor: pointer;
}

.signup-container button:hover, .login-container button:hover {
  background: #3c3737;
}

.update-password-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #0d0c0c;
  color: #3d1f1f45;
  background: #f4f4f4;
  background-image: url("/BackGroundForContactUs.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.updatepassword-container {
  position: relative;
  width: 500px;
  height: auto;
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  background: #ffffffb3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.updatepassword-container h2 {
  margin-top: 40px;
  font-family: "Amadeus", cursive;
  font-weight: bold;
  text-align: center;
}

.updatepassword-container h3 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  text-align: center;
  color: #070505c4;
}

.updatepassword-container input {
  width: 100%;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #33333379;
  background: transparent;
}

.updatepassword-container input::placeholder {
  font-family: "Amadeus", cursive;
  font-style: bold;
  color: #33333379;
}

.updatepassword-container input:focus {
  outline: none;
  border-bottom-color: #000000;
}

.updatepassword-container p {
  font-family: "Amadeus", cursive;
  text-align: center;
}

.updatepassword-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background: #000000d6;
  cursor: pointer;
}

.updatepassword-container button:hover {
  background: #3c3737;
}
